<div class="unit one-fifth hide-on-mobiles">
  <aside>
    <h4>Getting Started</h4>
    <ul>
      <li class="{% if page.title == 'Welcome' %}current{% endif %}">
        <a href="{{ site.url }}/docs/home">Welcome</a>
      </li>
      <li class="{% if page.title == 'Quick-start guide' %}current{% endif %}">
        <a href="{{ site.url }}/docs/quickstart">Quick-start guide</a>
      </li>
      <li class="{% if page.title == 'Installation' %}current{% endif %}">
        <a href="{{ site.url }}/docs/installation">Installation</a>
      </li>
      <li class="{% if page.title == 'Basic Usage' %}current{% endif %}">
        <a href="{{ site.url }}/docs/usage">Basic Usage</a>
      </li>
      </li>
      <li class="{% if page.title == 'Configuration' %}current{% endif %}">
        <a href="{{ site.url }}/docs/configuration">Configuration</a>
      </li>
    </ul>
    <h4>Objects</h4>
    <ul>
      <li class="{% if page.title == 'Database Class' %}current{% endif %}">
        <a href="{{ site.url }}/docs/database">Database</a>
      </li>
      <li class="{% if page.title == 'Astronomical Objects' %}current{% endif %}">
        <a href="{{ site.url }}/docs/astro-objects">Astronomical Objects</a>
      </li>
      <li>System</li>
      <li>Binary</li>
      <li>Star</li>
      <li>Planet</li>
    </ul>
    <h4>Modules</h4>
    <ul>
      <li>Equations</li>
      <li>Units</li>
      <li>Flags</li>
      <li>Plotting</li>
    </ul>
    <h4>Meta</h4>
    <ul>
      <li class="{% if page.title == "Contributing" %}current{% endif %}">
        <a href="{{ site.url }}/docs/contributing">Contributing</a>
      </li>
      <li class="{% if page.title == "History" %}current{% endif %}">
        <a href="{{ site.url }}/docs/history">History</a>
      </li>
    </ul>
  </aside>
</div>
